:root {
    background-color: black;
}

body{
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

.parent-container {
    min-height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 50px;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 5em;

    color: white;

    width: 80%;
}


.main-container div{
    width: 100%;
}



button {
    border: 0px solid;
}

.fitness-info .progress {
    height: 20px !important;
    background-color: #333 !important;
    border-radius: 10px !important;
    margin-bottom: 15px;
}

.fitness-info .progress .progress-bar {
    border-radius: 10px !important;
}



.daily-meals-list{
    display: flex;
    flex-direction: column;
    gap: 2em;
}


.daily-meal{
    border: 1px solid #333;
    padding: 20px;
    border-radius: 8px;
}

.meal-delete-btn{
    background-color: rgba(255, 0, 0, 0.425);
}

button{
    border: 0px solid;
    padding: 10px;
    color: white;
}

.editGoals-btn{
    background-color: rgba(127, 255, 212, 0.301);
    border-radius: 5px;
}

.addMeals-btn{
    border-radius: 5px;
    background-color: darkslateblue;
}